# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
GEMINI_API_KEY="api_key here"

# JWT_SECRET: Required for securing the custom authentication system.
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
# use this to get thekey
JWT_SECRET="jwt scret key "

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:8000"
